<div class="portfolio border m-4">
  <header class="portfolio-header">
    <h1>Jose Sepulveda</h1>
    <p>Desarrollador Web</p>
    <nav class="mt-5">
      <ol class="list-unstyled d-flex flex-column gap-2">
        <li
          class="list-group-item pointer-event"
          (click)="selectItem('Sobre mi')"
        >
          <a class="pe-none" *ngIf="selectedItem === 'Sobre mi'">●</a>
          <a *ngIf="selectedItem !== 'Sobre mi'">Sobre mi</a>
        </li>
        <li class="list-group-item" (click)="selectItem('Proyectos')">
          <a class="pe-none" *ngIf="selectedItem === 'Proyectos'">●</a>
          <a *ngIf="selectedItem !== 'Proyectos'">Proyectos</a>
        </li>
        <li class="list-group-item" (click)="selectItem('Contacto')">
          <a class="pe-none" *ngIf="selectedItem === 'Contacto'">●</a>
          <a *ngIf="selectedItem !== 'Contacto'">Contacto</a>
        </li>
      </ol>
    </nav>
  </header>
  <main
    class="portfolio-main text-center d-flex justify-content-center align-items-center"
  >
    <section
      *ngIf="selectedItem === 'Sobre mi'"
      class="about-me scale-in-tl border"
    >
      <p>Sobre mi</p>
    </section>
    <section
      *ngIf="selectedItem === 'Proyectos'"
      class="projects scale-in-tl border"
    >
      <p class=" ">Proyectos</p>
    </section>
    <section
      *ngIf="selectedItem === 'Contacto'"
      class="contact scale-in-tl d-flex gap-4 flex-column"
    >
      <a
        href="https://www.linkedin.com/in/josesepulvedapino/"
        target="_blank"
        class="d-block"
        >Linkedin ↗</a
      >
      <a
        href="https://github.com/josesepulvedapino"
        target="_blank"
        class="d-block"
        >Github ↗</a
      >
      <a
        href="https://www.instagram.com/wirtenso/"
        target="_blank"
        class="d-block"
        >Instagram ↗</a
      >
    </section>
  </main>
</div>
