<div class="portfolio border m-4" (wheel)="onMouseWheel($event)">
  <header class="portfolio-header d-flex d-sm-block align-items-center w-100 flex-column "> 
    <h1>José Sepúlveda</h1>
    <p>Desarrollador Web</p>
    <nav class="mt-3 mt-sm-5 ">
      <ol class="list-unstyled d-flex flex-column gap-2">
        <li
          class="list-group-item pointer-event"
          (click)="selectItem('Sobre mi')"
        >
          <a class="pe-none" *ngIf="selectedItem === 'Sobre mi'">●</a>
          <a *ngIf="selectedItem !== 'Sobre mi'">Sobre mi</a>
        </li>
        <li class="list-group-item" (click)="selectItem('Proyectos')">
          <a class="pe-none" *ngIf="selectedItem === 'Proyectos'">●</a>
          <a *ngIf="selectedItem !== 'Proyectos'">Proyectos</a>
        </li>
        <li class="list-group-item" (click)="selectItem('Contacto')">
          <a class="pe-none" *ngIf="selectedItem === 'Contacto'">●</a>
          <a *ngIf="selectedItem !== 'Contacto'">Contacto</a>
        </li>
      </ol>
    </nav>
  </header>
  <main
    class="portfolio-main text-center d-flex justify-content-center align-items-center"
  >
    <section
      *ngIf="selectedItem === 'Sobre mi'"
      class="about-me scale-in-center border w-auto"
    >
      <p class="focus-in-expand">
        Soy José, un joven de 22 años apasionado por llevar una vida sana y
        activa. Me he dedicado al desarrollo web y móvil, trabajando en una
        variedad de proyectos. Me gusta explorar el mundo de la programación y
        disfruto creando interfaces llamativas y funcionales. Siempre estoy
        buscando oportunidades para crecer profesionalmente y dedicarme al mundo
        de la tecnología.
      </p>
    </section>
    <section
      *ngIf="selectedItem === 'Proyectos'"
      class="projects scale-in-tl d-flex gap-4 flex-column"
    >
      <a
        href="https://josesepulvedapino.github.io/cryptovalues-angular/"
        target="_blank"
        class="d-block"
        >Cryptovalues TOP 100</a
      >
      <a href="https://weatherapp-5c5aa.web.app" target="_blank" class="d-block"
        >WeatherApp</a
      >
      <a href="https://acme-startup.vercel.app" target="_blank" class="d-block"
        >Acme Startup</a
      >
    </section>
    <section
      *ngIf="selectedItem === 'Contacto'"
      class="contact scale-in-tl d-flex gap-4 flex-column"
    >
      <a
        href="https://www.linkedin.com/in/josesepulvedapino/"
        target="_blank"
        class="d-block"
        >Linkedin ↗</a
      >
      <a
        href="https://github.com/josesepulvedapino"
        target="_blank"
        class="d-block"
        >Github ↗</a
      >
      <a
        href="https://www.instagram.com/wirtenso/"
        target="_blank"
        class="d-block"
        >Instagram ↗</a
      >
    </section>
  </main>
</div>
